{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "corejs": "3.0.0",
        "targets": {
          "chrome": "58",
          "ie": "9"
        }
      }
    ]
  ]
}
