# standard ignore
*config*
*conf*

.github/
.gitignore
.eslintrc
.stylelintrc

coverage/
docs/
scripts/
test/
demo/**/*.css
demo/**/*.scss
demo/**/*.html

index.html

# ignore src
src/**/*.scss
src/**/*.css
