.button {
  user-select: none;
  align-items: center;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 300;
  height: 50px;
  line-height: 1;
  padding: 0 1em;
  min-width: 100%;
  background-color: #0074c8;
  color: white;
  min-width: 155px;

  &--active {
    &:disabled {
      cursor: not-allowed;
      color: white;
      font-size: 15px;
      background-color: #62bdff;
    }
  }

  &--secondary {
    background-color: white;
    border: 1px solid #0074c8;
    color: #0074c8;

    &:disabled {
      cursor: not-allowed;
      color: #6e7783;
      font-size: 15px;
      background-color: #e5ecf0;
      border: 1px solid #e5ecf0;
    }

    &:active {
      color: white;
      font-size: 15px;
      background-color: #62bdff;
    }
  }
}

:disabled {
  cursor: not-allowed;
  color: #6e7783;
  font-size: 15px;
  background-color: #e5ecf0;
  border: 1px solid #e5ecf0;
}

:active {
  color: white;
  font-size: 15px;
  background-color: #62bdff;
}
