@import "./../node_modules/@aurodesignsystem/design-tokens/dist/auro-classic/SCSSVariables";

:host {
  --ds-auro-button-border-color: var(--ds-color-container-ui-primary-default-default, #{$ds-color-container-ui-primary-default-default});
  --ds-auro-button-border-inset-color: var(--ds-color-border-emphasis-inverse, #{$ds-color-border-emphasis-inverse});
  --ds-auro-button-container-color: var(--ds-color-container-ui-primary-default-default, #{$ds-color-container-ui-primary-default-default});
  --ds-auro-button-container-image: var(--ds-color-container-ui-primary-default-default, #{$ds-color-container-ui-primary-default-default});
  --ds-auro-button-loader-color: var(--ds-color-utility-navy-default, #{$ds-color-utility-navy-default});
  --ds-auro-button-text-color: var(--ds-color-text-primary-inverse, #{$ds-color-text-primary-inverse});
  --ds-auro-button-tap-color: transparent;
}
