:host {
  --ds-auro-button-border-color: var(--ds-color-container-ui-primary-active-default, $ds-color-container-ui-primary-active-default);
  --ds-auro-button-container-color: var(--ds-color-container-ui-primary-active-default, $ds-color-container-ui-primary-active-default);
  --ds-auro-button-container-image: var(--ds-color-container-ui-primary-active-default, $ds-color-container-ui-primary-active-default);
  --ds-auro-button-text-color: var(--ds-color-text-primary-inverse, $ds-color-text-primary-inverse);

  // THE BELOW TOKEN SEEMS WRONG - WAITING FOR RESPONSE FROM JUNE
  --ds-auro-button-border-inset-color: var(--ds-color-border-emphasis-inverse, $ds-color-border-emphasis-inverse);
  --ds-auro-button-loader-color: var(--ds-color-background-darkest, $ds-color-background-darkest);
  --ds-auro-button-tap-color: transparent;
}
